<ng-template #noData>No Data Available</ng-template>

<ngb-accordion *ngIf="users$ | async as users else noData" [closeOthers]="true">
  <ng-container *ngFor="let user of users">
    <ngb-panel title={{user.name}}>
      <ng-template ngbPanelContent>
        <form class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" value={{user.name}} class="form-control" id="name">
          </div>
          <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" value={{user.username}} class="form-control" id="username">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" value={{user.email}} class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-2">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" value={{user.phone}} class="form-control" id="phone">
          </div>
          <div class="col-md-2">
            <label for="website" class="form-label">Website</label>
            <input type="text" value={{user.website}} class="form-control" id="website">
          </div>
          <div class="col-md-6">
            <label for="Street" class="form-label">Street</label>
            <input type="text" value={{user.address.street}} class="form-control" id="street" placeholder="1234 Main St">
          </div>
          <div class="col-md-6">
            <label for="suite" class="form-label">Suite</label>
            <input type="text" value={{user.address.suite}} class="form-control" id="suite" placeholder="Apartment, studio, or floor">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" value={{user.address.city}} class="form-control" id="inputCity">
          </div>
          <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" value={{user.address.zipcode}} class="form-control" id="inputZip">
          </div>
          <div class="col-md-2">
            <label for="geolat" class="form-label">Latitude</label>
            <input type="text" value={{user.address.geo.lat}} class="form-control" id="geolat">
          </div>
          <div class="col-md-2">
            <label for="geolng" class="form-label">Longitude</label>
            <input type="text" value={{user.address.geo.lng}} class="form-control" id="geolng">
          </div>
          <div class="col-md-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" value={{user.company.name}} class="form-control" id="name">
          </div>
          <div class="col-md-4">
            <label for="catchphase" class="form-label">Catch Phase</label>
            <input type="text" value={{user.company.catchPhrase}} class="form-control" id="catchphase">
          </div>
          <div class="col-md-2">
            <label for="bs" class="form-label">Bs</label>
            <input type="text" value={{user.company.bs}} class="form-control" id="bs">
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ng-container>
</ngb-accordion>
